# Node and package manager dependencies
node_modules/

# Log files and folders
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files
.env
.env.local
.env.*.local

# Production and test build outputs
dist/
dist/**
build/
build/**
release/
release/**
news-admin/
news-admin/**

# Operating system and user-specific files
.DS_Store
Thumbs.db
/dist

# Other
COMMIT.md
